{% extends 'shop/site_base.html' %}

{% block meta_title %}Product list{% endblock %}

{% block content %}
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>BRAND</th>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>
    </thead>
    <tbody>
    {% for product in object_list %}
        <tr>
            <td>{{ product.article }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}