<div class="jumbotron">
    <div class="container">
        <h1>Heading!</h1>
        <p>Blah blah blah, long text here</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>